.servicePages-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s; /* when reload the page the food item is comes faded animation */
    height: 100%;
}
.servicePages-item:hover{
    box-shadow: 5px 10px 15px rgb(157, 175, 175)
}
.servicePages-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.servicePages-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.servicePages-item .servicePages-item-info select{
    margin-top: 5px;
    margin-bottom: 10px;
    outline-color: orange;
    padding: 5px;
}
.servicePages-item-image{
    width: 100%; /* this is for all images in 100% widht */
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 10px 0px;
}
.servicePages-item-info{
    padding: 20px;
}
.servicePages-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px ;
}
.servicePages-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.servicePages-item-name-rating img{
    width: 70px;
}
.servicePages-item-description{
    color: #747474;
    font-size: 12px;
}
.servicePages-item-img-container{
    position: relative;

}